* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Comfortaa', sans-serif;
}

a{
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

.light-theme {
    --color1: #FEFFF6;
    --color2: #313131;
    --color3: #848D3D;
}

.dark-theme {
    --color2: #FEFFF6;
    --color1: #313131;
    --color3: #848D3D;
}

nav {
    position: fixed;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    background: var(--color1);
    box-shadow: 0px 0px 20px 0px rgba(132, 141, 61, 0.30);
    padding: 12px 0px 12px 0px;
}

.container {
    max-width: 1340px;
    margin: auto;
    padding: 0px 20px 0px 20px;
}

.nav__elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__links {
    display: flex;
    gap: 60px;
}

.nav__buttons {
    display: flex;
    gap: 20px;
}

.nav__links a {
    color: var(--color2);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: 0.5s;
}
.nav__links a:hover{
    color: var(--color3);
}

.nav__logo{
    z-index: 4;
}

.nav__logo path {
    fill: var(--color3);
    transition: 0.5s;
}

.nav__logo_active path{
    fill: var(--color1);
}
.link-point::after{
    content:"";
    width: 4px;
    height: 4px;
    display: block;
    background-color: var(--color2);
    border-radius: 4px;
    position: absolute;
    bottom: -4px;
    left: calc(50% - 2px);
    opacity: 0;
    transition: 0.5s;
}

.link-point{
    position: relative;
}

.link-point:hover::after{
    opacity: 100;
    background-color: var(--color3);
}

.nav__buttons button{
    border: none;
    background: transparent;
    font-size: 20px;
    color: var(--color2);
    transition: 0.5s;
    cursor: pointer;
}

.nav__buttons .btn-user{
    font-size: 40px;
    position: relative;

}
.nav__buttons button:hover{
    color: var(--color3);
}

.btn-user span{
    font-size: 16px;
    font-weight: 700;
    font-family: 'Comfortaa', sans-serif;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,14px);
    opacity: 0%;
    transition: 0.5s;
}

.btn-user:hover span{
    opacity: 100;
    color: var(--color3);
}

.hamburger {
    width: 40px;
    height: 20px;
    background-color: transparent;
    border: none;
    position: relative;
    display: none;
}

.hamburger span{
    width: 40px;
    height: 2px;
    background-color: var(--color3);
    display: block;
    border-radius: 2px;
    position: absolute;
    left: 0;
    transition: 0.5s;
    transition-timing-function: cubic-bezier(0.09, -1.17, 1, 2.2);
}

.hamburger span:nth-child(1){
    top: 0;
}

.hamburger span:nth-child(2){
    top: 9px;
}

.hamburger span:nth-child(3){
    bottom: 0;
}

.hamburger_active span:nth-child(1){
    top: 9px;
    transform: rotate(-45deg);
}

.hamburger_active span:nth-child(2){
    top: 9px;
    transform: translateX(-40px);
    opacity: 0;
}

.hamburger_active span:nth-child(3){
    bottom: 9px;
    transform: rotate(45deg);
}

.hamburger_active span{
    background-color: var(--color1);
}
