* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Comfortaa', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    color: var(--color2);
    font-size: 48px;
    font-weight: 700;
}

h2 span{
    color: var(--color3);
}

.light-theme {
    --color1: #FEFFF6;
    --color2: #313131;
    --color3: #848D3D;
    --color4: #5C5C5C;
    --color5: #E0E3CA;
}

.dark-theme {
    --color2: #FEFFF6;
    --color1: #313131;
    --color3: #848D3D;
    --color4: #5C5C5C;
    --color5: #E0E3CA;
}


nav {
    position: fixed;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    background: var(--color1);
    box-shadow: 0px 0px 20px 0px #706868;
    padding: 12px 0px 12px 0px;
    z-index: 5;
}

.container {
    max-width: 1340px;
    margin: auto;
    padding: 0px 20px 0px 20px;
}

.nav__elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__links {
    display: flex;
    gap: 60px;
}

.nav__buttons {
    display: flex;
    gap: 20px;
}

.nav__links a {
    color: var(--color2);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: 0.5s;
}

.nav__links a:hover {
    color: var(--color3);
}

.nav__logo {
    z-index: 4;
}

.nav__logo path {
    fill: var(--color3);
    transition: 0.5s;
}

.nav__logo_active path {
    fill: var(--color1);
}

.link-point::after {
    content: "";
    width: 4px;
    height: 4px;
    display: block;
    background-color: var(--color2);
    border-radius: 4px;
    position: absolute;
    bottom: -4px;
    left: calc(50% - 2px);
    opacity: 0;
    transition: 0.5s;
}

.link-point {
    position: relative;
}

.link-point:hover::after {
    opacity: 100;
    background-color: var(--color3);
}

.nav__buttons button {
    border: none;
    background: transparent;
    font-size: 20px;
    color: var(--color2);
    transition: 0.5s;
    cursor: pointer;
}

.nav__buttons .btn-user {
    font-size: 40px;
    position: relative;

}

.nav__buttons button:hover {
    color: var(--color3);
}

.btn-user span {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Comfortaa', sans-serif;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 14px);
    opacity: 0%;
    transition: 0.5s;
}

.btn-user:hover span {
    opacity: 100;
    --color3: #35362d;
}

.hamburger {
    width: 40px;
    height: 20px;
    background-color: transparent;
    border: none;
    position: relative;
    display: none;
}

.hamburger span {
    width: 40px;
    height: 2px;
    background-color: var(--color3);
    display: block;
    border-radius: 2px;
    position: absolute;
    left: 0;
    transition: 0.5s;
}

.hamburger span:nth-child(1) {
    top: 0;
}

.hamburger span:nth-child(2) {
    top: 9px;
}

.hamburger span:nth-child(3) {
    bottom: 0;
}

.hamburger_active span:nth-child(1) {
    top: 9px;
    transform: rotate(-45deg);
}

.hamburger_active span:nth-child(2) {
    top: 9px;
    transform: translateX(-40px);
    opacity: 0;
}

.hamburger_active span:nth-child(3) {
    bottom: 9px;
    transform: rotate(45deg);
}

.hamburger_active span {
    background-color: var(--color1);
}

.header__elements {
    display: flex;
    align-items: flex-end;
}

header {
    padding: 120px 0 140px 0;
    background-color: var(--color1);
}

.header__foto img {
    width: 100%;
}

h1 {
    font-size: 64px;
    font-weight: 700;
    color: var(--color2);
    margin-bottom: 32px;
}

h1 span {
    color: var(--color3);
}

.header__info p {
    color: var(--color4);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 457px;
    margin-bottom: 56px;
}

.header__info a {
    color: var(--color1);
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    padding: 23px 46px 18px 45px;
    border-radius: 37px;
    border: 1px solid var(--color3);
    background: var(--color3);
    display: inline-block;
    transition: 0.5s;
    margin-bottom: 64px;
}

.header__info a:hover {
    color: var(--color3);
    background-color: var(--color1);
}

.header__stat {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: start;
}

.header__stat div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.header__stat span {
    color: var(--color3);
    font-size: 32px;
    font-weight: 700;
}

.header__stat p {
    color: var(--color4);
    font-size: 32px;
    font-weight: 300;
    margin: 0;
}

.header__stat hr {
    width: 1px;
    height: 82px;
    background: var(--color3);
}

.rating {
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
}

.estim {
    display: flex;
    gap: 10px;
    align-items: center;
}

.estim span {
    color: var(--color4);
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
    transform: translateY(4px);
    z-index: 0;
    position: relative;
}

.estim hr {
    width: 1px;
    height: 40px;
    color: var(--color3);
}

.estim div {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.estim i {
    color: var(--color3);
    font-size: 24px;
}

.rating p {
    color: var(--color4);
    font-size: 24px;
    font-weight: 300;
}

section {
    padding: 60px 0 60px 0;
    overflow: hidden;
}

.about-us__elements {
    display: flex;
    align-items: center;
    gap: 80px;
}

.about-us__foto {
    width: 520px;
    height: 520px;
    border-radius: 20px;
    background: var(--color5);
    position: relative;
    flex-shrink: 0;
}

.about-us__foto img {
    width: 135%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-16%, -18%);
}

.about-us h2 {
    margin-bottom: 20px;

}

.about-us__info p {
    color: var(--color2);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 580px;
    margin-bottom: 44px;
}

.about-us__info p span {
    color: var(--color3);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.about-us__item {
    max-width: 480px;
    display: flex;
    gap: 20px;

}

.about-us__icon {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    background-color: var(--color5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.about-us__icon i {
    font-size: 36px;
    color: var(--color3);
}

.about-us__descript {
    color: var(--color4);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.hide {
    display: none;
}
